@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* Font */
  --fontFamily: "Barlow Semi Condensed", sans-serif;
  --fontSize: 0.8rem; /*équivalent 13px*/

  /* Primary Color */
  --moderateViolet: hsl(263, 55%, 52%);
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --veryDarkBlackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* Neutral Color */
  --lightGray: hsl(0, 0%, 81%);
  --lightGrayishBlue: hsl(210, 46%, 95%);

  /* Spacing and Border */
  --margin: 1rem;
  --padding: 1rem;
  --borderRadius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  background-color: var(--lightGrayishBlue);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

main {
  border: 1px solid red;

  width: 1110px;
  height: 572px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}
article {
  border: 3px solid black;

  border-radius: var(--borderRadius);
  padding: calc(var(--padding) * 2.1);

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.user {
  display: flex;
  align-items: center;
  gap: calc(var(--margin) * 0.8);
}
.user img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.daniel {
  grid-area: daniel;
}

.jonathan {
  grid-area: jonathan;
}

.kira {
  grid-area: kira;
}

.jeanette {
  grid-area: jeanette;
}

.patrick {
  grid-area: patrick;
}

footer {
  border: 1px solid green;

  height: 10vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding);
}
